<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801469931657-prfnf03f5meaurg2bultuvg3npia40fk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801469931657-prfnf03f5meaurg2bultuvg3npia40fk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>801469931657-khav8u1fheea5m086mobbd4rdd6i78l7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4uolENs-6XwlB6jeGoapRfFuRNDhk3y8</string>
	<key>GCM_SENDER_ID</key>
	<string>801469931657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.topbusiness.salonyuser</string>
	<key>PROJECT_ID</key>
	<string>salony-new</string>
	<key>STORAGE_BUCKET</key>
	<string>salony-new.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801469931657:ios:3bc777ce270fd78c85a658</string>
</dict>
</plist>