<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Salonatna</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>app</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLSchemes</key>
	<string>816190602687969</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.801469931657-prfnf03f5meaurg2bultuvg3npia40fk</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb232544461969846</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>816190602687969</string>
	<key>FacebookClientToken</key>
	<string>a05cf2dd5ee57f6b1d2d1f1b94d03367</string>
	<key>FacebookDisplayName</key>
	<string>userapp</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>GOOGLE_MAPS_KEY</key>
	<string>AIzaSyCfg_eIB8dSjOehFq0O-nMTPQlNL6Lu58g</string>

	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>

		<key>NSCameraUsageDescription</key>
    	<string>This app requires access to your camera to take photos for profile pictures and to select images for various features.</string>
    	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    	<string>This app needs access to your location in the background to provide accurate delivery updates and ensure your orders are delivered to the correct location.</string>
    	<key>NSLocationAlwaysUsageDescription</key>
    	<string>This app needs access to your location in the background to provide accurate delivery updates and ensure your orders are delivered to the correct location.</string>
    	<key>NSLocationWhenInUseUsageDescription</key>
    	<string>This app needs access to your location to provide accurate pickup and delivery locations, and to help our delivery partners navigate to your doorstep.</string>
    	<key>NSMicrophoneUsageDescription</key>
    	<string>This app needs access to your microphone to enable voice commands and provide a better user experience.</string>
    	<key>NSPhotoLibraryUsageDescription</key>
    	<string>This app requires access to your photo library to select images for profile pictures and other user content.</string>


	<key>NSCalendarsUsageDescription</key>
	<string>$this app needs access to your calender to pick a date.</string>

	<key>NSMotionUsageDescription</key>
	<string>$this app needs access to your motion in video </string>

	<key>NSSpeechRecognitionUsageDescription</key>
	<string>$this app needs access to your speech recognition in video</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
